<section class="about section" id="about">
    <div class="container">
      <div class="row">
        <div class="section-title padd-15">
          <h2>About Me</h2>
        </div>
      </div>
      <div class="row">
        <div class="about-content padd-15">
          <div class="row">
            <div class="about-text padd-15">
              <h3>I'm Miguel Angel Caballero Lynch and <span>Systems Engineer</span></h3>
              <p>Hello! My name is Miguel Angel Caballero Lynch. I am a Systems Engineer passionate about technology
                and dedicated to delivering innovative solutions. With experience in database administration,
                software development, and IT systems, I have acquired the technical expertise and problem-solving
                skills to ensure the success of any project. My academic background in Computer Systems Engineering,
                coupled with multiple professional certifications (Cisco CCNA, AWS, Azure, and CompTIA Security+),
                has prepared me to tackle complex challenges. I thrive in collaborative environments, leveraging my
                skills in programming, cloud computing, and cybersecurity to create impactful results.</p>
            </div>
          </div>
          <div class="row">
            <div class="personal-info padd-15">
              <div class="info-grid">
                <div class="info-item">
                  <p>Birthday: <span>13 March 2004</span></p>
                </div>
                <div class="info-item">
                  <p>Age: <span>20</span></p>
                </div>
                <div class="info-item">
                  <p>Email: <span>miguel.caballero130304&#64;gmail.com</span></p>
                </div>
                <div class="info-item">
                  <p>Degree: <span>Bachelor's Degree in Systems Engineering</span></p>
                </div>
                <div class="info-item">
                  <p>Phone: <span>+51 903541244</span></p>
                </div>
                <div class="info-item">
                  <p>City: <span>Lima</span></p>
                </div>
                <div class="info-item">
                  <p>Freelance: <span>Available</span></p>
                </div>
              </div>
              <div class="row buttons padd-15">
                <a href="CV - Miguel Angel Caballero Lynch.pdf" class="btn" download>Download CV</a>
                <a href="#contact" data-section-index="1" class="btn hire-me">Hire me</a>
              </div>
            </div>
            <div class="skills-container">
              <div class="skills-row">
                <div class="skill-category">
                  <h4>Programming Languages</h4>
                  <ul>
                    <li>JavaScript</li>
                    <li>Java</li>
                    <li>Python</li>
                    <li>C++</li>
                    <li>C#</li>
                  </ul>
                </div>
                <div class="skill-category">
                  <h4>Cloud Computing</h4>
                  <ul>
                    <li>AWS (EC2, S3, RDS)</li>
                    <li>Azure</li>
                  </ul>
                </div>
                <div class="skill-category">
                  <h4>Databases</h4>
                  <ul>
                    <li>SQL Server</li>
                    <li>MySQL</li>
                    <li>PostgreSQL</li>
                    <li>Oracle</li>
                  </ul>
                </div>
                <div class="skill-category">
                  <h4>Tools & Methodologies</h4>
                  <ul>
                    <li>Google Scripts</li>
                    <li>Trello</li>
                    <li>Google Analytics</li>
                    <li>Scrum & Kanban</li>
                  </ul>
                </div>
                <div class="skill-category">
                  <h4>Languages</h4>
                  <ul>
                    <li>Spanish: Native</li>
                    <li>English: B2</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="row">
              <!-- Education -->
              <div class="education padd-15">
                <h3 class="title">Education</h3>
                <div class="row">
                  <div class="timeline-box padd-15">
                    <div class="timeline shadow-dark">
                      <!-- timeline Item -->
                      <div class="timeline-item">
                        <div class="circle-dot"></div>
                        <h6 class="timeline-date"><i class="fa fa-calendar"></i> December 2024</h6>
                        <h4 class="timeline-title">Computer Systems Engineering</h4>
                        <p class="timeline-text">Universidad Privada del Norte, Lima, Peru.</p>
                      </div>
                      <div class="timeline-item">
                        <div class="circle-dot"></div>
                        <h6 class="timeline-date"><i class="fa fa-calendar"></i> June 2023</h6>
                        <h4 class="timeline-title">Cisco Certified Network Associate (CCNA)</h4>
                        <p class="timeline-text">Course: Introduction to Networks and Switching, Routing, and
                          Wireless Essentials.</p>
                        <p class="timeline-text">Skills: Cisco Networking.</p>
                      </div>
                      <!-- timeline Item End -->
                      <div class="timeline-item">
                        <div class="circle-dot"></div>
                        <h6 class="timeline-date"><i class="fa fa-calendar"></i> April 2023</h6>
                        <h4 class="timeline-title">CompTIA Security+ SY0-601</h4>
                        <p class="timeline-text">LinkedIn Learning</p>
                        <ul class="timeline-text">
                          <li>Introduction to CompTIA Security+ (SY0-601)</li>
                          <li>Prepare for the CompTIA Security+ (SY0-601) certification</li>
                          <li>Cybersecurity attacks, threats, and vulnerabilities</li>
                          <li>Secure architecture and design</li>
                          <li>Deployment of secure protocols, systems, and solutions</li>
                          <li>Cybersecurity operations and incident response</li>
                          <li>Governance, risk, and compliance for information security</li>
                        </ul>
                      </div>
                      <!-- timeline Item End -->
                      <div class="timeline-item">
                        <div class="circle-dot"></div>
                        <h6 class="timeline-date"><i class="fa fa-calendar"></i> March 2023</h6>
                        <h4 class="timeline-title">Amazon Web Services (AWS)</h4>
                        <p class="timeline-text">LinkedIn Learning</p>
                        <p class="timeline-text">Course: Amazon Web Services for IT Professionals.</p>
                        <p class="timeline-text">Skills: Amazon Web Services (AWS).</p>
                      </div>
                      <!-- timeline Item End -->
                      <div class="timeline-item">
                        <div class="circle-dot"></div>
                        <h6 class="timeline-date"><i class="fa fa-calendar"></i> March 2023</h6>
                        <h4 class="timeline-title">Microsoft Azure</h4>
                        <p class="timeline-text">LinkedIn Learning</p>
                        <ul class="timeline-text">
                          <li>Azure for IT administrators</li>
                          <li>Azure for development and programming</li>
                          <li>Azure: Essential Microservices</li>
                          <li>Introduction to Microsoft Azure</li>
                        </ul>
                      </div>
                      <!-- timeline Item End -->
                      <div class="timeline-item">
                        <div class="circle-dot"></div>
                        <h6 class="timeline-date"><i class="fa fa-calendar"></i> June 2023</h6>
                        <h4 class="timeline-title">SQL</h4>
                        <p class="timeline-text">LinkedIn Learning</p>
                        <ul class="timeline-text">
                          <li>SQL Server 2019 Essential</li>
                          <li>SQL Server: Essential Integration Services</li>
                          <li>SQL Server: Triggers, Stored Procedures, and Functions</li>
                          <li>MySQL Essential</li>
                          <li>PHP and SQL: Data Management</li>
                          <li>PostgreSQL Essential</li>
                          <li>SQL Server 2016: Administration and Configuration</li>
                          <li>SQL Server 2016: Practical Databases</li>
                          <li>SQL Server 2016: Database Development</li>
                        </ul>
                      </div>
                      <!-- timeline Item End -->
                      <div class="timeline-item">
                        <div class="circle-dot"></div>
                        <h6 class="timeline-date"><i class="fa fa-calendar"></i> November 2022 – February 2023</h6>
                        <h4 class="timeline-title">Front-end and Back-end Web Development</h4>
                        <p class="timeline-text">ISTP ingénieurs</p>
                        <p class="timeline-text">Web development, digital/multimedia content, and IT resources.</p>
                      </div>
                      <!-- timeline Item End -->
                    </div>
                  </div>
                </div>
              </div>

              <!-- Experience -->
              <div class="experience padd-15">
                <h3 class="title">Experience</h3>
                <div class="row">
                  <div class="timeline-box padd-15">
                    <div class="timeline shadow-dark">
                      <!-- timeline Item -->
                      <div class="timeline-item">
                        <div class="circle-dot"></div>
                        <h6 class="timeline-date"><i class="fa fa-calendar"></i> August 2024 – December 2024</h6>
                        <h4 class="timeline-title">CRM Intern</h4>
                        <p class="timeline-text">CENTRUM PUCP</p>
                        <ul class="timeline-text">
                          <li>Provided comprehensive support to the Marketing and Sales department, ensuring
                            operational continuity and optimizing processes related to lead and campaign management.
                          </li>
                          <li>Managed platforms such as Oracle Sales Fusion Cloud, Oracle Eloqua, and Oracle Fusion
                            Cloud Applications, ensuring efficient usage.</li>
                          <li>Implemented automation projects using web scraping and Google Apps Scripts.</li>
                          <li>Designed strategic reports related to lead performance and validated data integrity
                            with advertising agencies.</li>
                        </ul>
                      </div>
                      <!-- timeline Item End -->

                      <div class="timeline-item">
                        <div class="circle-dot"></div>
                        <h6 class="timeline-date"><i class="fa fa-calendar"></i> March 2024 – April 2024</h6>
                        <h4 class="timeline-title">Technology Intern</h4>
                        <p class="timeline-text">Instituto para la Calidad PUCP</p>
                        <ul class="timeline-text">
                          <li>Developed and maintained Google Scripts for credential and license management.</li>
                          <li>Migrated data from Centuria (Oracle PeopleSoft) to Canvas, ensuring accuracy and
                            consistency.</li>
                          <li>Managed Oracle Eloqua, Oracle Sales, and Oracle Analytics platforms.</li>
                          <li>Created detailed technical documentation for system configurations and procedures.
                          </li>
                        </ul>
                      </div>
                      <!-- timeline Item End -->

                      <div class="timeline-item">
                        <div class="circle-dot"></div>
                        <h6 class="timeline-date"><i class="fa fa-calendar"></i> September 2023 – December 2023</h6>
                        <h4 class="timeline-title">Database Administrator</h4>
                        <p class="timeline-text">Devdatep Consulting</p>
                        <ul class="timeline-text">
                          <li>Performed database maintenance and optimization tasks, including backups and
                            restorations.</li>
                          <li>Managed user access and ensured the security of sensitive data.</li>
                          <li>Monitored and resolved database performance issues.</li>
                        </ul>
                      </div>
                      <!-- timeline Item End -->

                      <div class="timeline-item">
                        <div class="circle-dot"></div>
                        <h6 class="timeline-date"><i class="fa fa-calendar"></i> April 2023 – June 2023</h6>
                        <h4 class="timeline-title">Software Development Internship</h4>
                        <p class="timeline-text">GAOTek Inc.</p>
                        <ul class="timeline-text">
                          <li>Developed software and collaborated in design, coding, and testing under the
                            supervision of senior developers.</li>
                          <li>Conducted thorough testing of modules and functionalities.</li>
                        </ul>
                      </div>
                      <!-- timeline Item End -->

                      <div class="timeline-item">
                        <div class="circle-dot"></div>
                        <h6 class="timeline-date"><i class="fa fa-calendar"></i> August 2022 – December 2022</h6>
                        <h4 class="timeline-title">Java Developer</h4>
                        <p class="timeline-text">Jemilu</p>
                        <ul class="timeline-text">
                          <li>Developed an information system for registration, inventory, and sales processes using
                            Java.</li>
                          <li>Optimized processes, reducing delivery times to customers by 30%.</li>
                        </ul>
                      </div>
                      <!-- timeline Item End -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>