<div class="main-container">
  <!-- Aside -->
  <div class="aside">
    <div class="nav-toggler">
      <span></span>
    </div>
    <div class="aside-inner">
      <div class="logo">
        <a href="#">Portafolio</a>
      </div>
      <ul class="nav">
        <li><a routerLink="/" routerLinkActive="active"><i class="fa fa-home"></i> Home</a></li>
        <li><a routerLink="/about" routerLinkActive="active"><i class="fa fa-user"></i> About</a></li>
        <li><a routerLink="/services" routerLinkActive="active"><i class="fa fa-list"></i> Services</a></li>
        <li><a routerLink="/portfolio" routerLinkActive="active"><i class="fa fa-briefcase"></i> Portfolio</a></li>
        <li><a routerLink="/contact" routerLinkActive="active"><i class="fa fa-comments"></i> Contact</a></li>
      </ul>      
      <div class="copyright-text">
        &copy; 2025 Miguel Angel Caballero Lynch
      </div>
    </div>
  </div>
  <!-- Aside End -->

  <!-- Main Content -->
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>
<!-- Lightbox Component -->
<app-lightbox></app-lightbox>

<!-- Style Switcher Component -->
<app-style-switcher></app-style-switcher>