<section class="service section" id="services">
    <div class="container">
      <div class="row">
        <div class="section-title padd-15">
          <h2>Services</h2>
        </div>
      </div>
      <div class="row">
        <!-- Service item -->
        <div class="service-item padd-15">
          <div class="service-item-inner">
            <div class="icon"><i class="fa fa-code"></i></div>
            <h4>Web Systems Development</h4>
            <p>Design and develop tailored web systems to optimize workflows, improve user experience, and meet
              business needs with scalable and efficient solutions.</p>
          </div>
        </div>
        <!-- Service item End -->
        <!-- Service item -->
        <div class="service-item padd-15">
          <div class="service-item-inner">
            <div class="icon"><i class="fa fa-database"></i></div>
            <h4>Database Management</h4>
            <p>Comprehensive database management services including optimization, data migration, backup,
              restoration, and ensuring data integrity across multiple platforms.</p>
          </div>
        </div>
        <!-- Service item End -->
        <!-- Service item -->
        <div class="service-item padd-15">
          <div class="service-item-inner">
            <div class="icon"><i class="fa fa-cogs"></i></div>
            <h4>Process Automation</h4>
            <p>Automate repetitive tasks and enhance operational efficiency through custom scripts, APIs, and
              integrations with modern tools and platforms.</p>
          </div>
        </div>
        <!-- Service item End -->
        <!-- Service item -->
        <div class="service-item padd-15">
          <div class="service-item-inner">
            <div class="icon"><i class="fa fa-search"></i></div>
            <h4>Data Analysis</h4>
            <p>Leverage data-driven insights by collecting, cleaning, and analyzing data to guide strategic
              decision-making and improve business outcomes.</p>
          </div>
        </div>
        <!-- Service item End -->
        <!-- Service item -->
        <div class="service-item padd-15">
          <div class="service-item-inner">
            <div class="icon"><i class="fa fa-users"></i></div>
            <h4>CRM Solutions</h4>
            <p>Implement and manage CRM systems to streamline customer relationship management, automate campaigns,
              and optimize lead management processes.</p>
          </div>
        </div>
        <!-- Service item End -->
      </div>
    </div>
  </section>