<section class="home section active" id="home">
    <div class="container">
      <div class="intro">
        <img src="assets/images/about.jpg" alt="profile" class="shadow-dark">
        <h1>Miguel Angel Caballero Lynch</h1>
        <span class="iTyped"></span>
        <div class="social-links">
          <a href="https://x.com/Miguelon1308"><i class="fa fa-twitter"></i></a>
          <a href="https://www.facebook.com/profile.php?id=61557960003925"><i class="fa fa-facebook"></i></a>
          <a href="https://www.instagram.com/espsolutionsac/"><i class="fa fa-instagram"></i></a>
          <a href="https://www.linkedin.com/in/miguel-angel-caballero-lynch-a39b78219"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
    </div>
  </section>